header{
    margin-top: 0px 0px 0px 0px;
    width: 1340px;
    height: 200px;

    border-radius: 10px;
    background-color: #5e0113;
}
.caixa{
    position: absolute;
    background-color: rgb(147, 156, 201);
    border-radius: 50px;
    width: 1300px;
    height:190px;
    margin:5px 0px 0px 20px;
}
.foto{
    margin: 18px 0 0 18px;
    border: 3px solid ;
    border-radius: 150px;
    width: 120px;
    height: 150px;
}
nav li {
    background-color: green;
    display: inline;
    margin:0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}