body{
    background-color: rgb(147, 156, 201);

}

header{
    background-color: #5e0113; /**/
    padding: 20px 0;              /*aplica espaçamento interno 20px top e buttom e 0px para right e light assim os elementos dentro do heder ão encostam na margem*/
}

.caixa{
    position: relative;                   /* levanta a div caixa para poder posicionar o menu nav dentro dela que esta com position absoluto: ponto inicial com relação a pagina inteira*/
    width: 940px;    /*Largura da pagina*/
    margin:0 auto;   /* centraliza a caixa e calculo automatico das margens laterais */
}
.foto{
    margin: 0px 0 0 0px;
    border: 2px solid ;
    border-radius: 100px;
    width: 120px;           /*largura*/
    height: 150px;          /*altura*/
}

nav{
    position: absolute;
    top: 80px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;

  
}
nav a{
    text-transform: uppercase;  /*tranforma o texto em caixa auta,letra maiúscula*/
    color: black;            /*Aplica cor no letra*/
    font-weight: bold;         /*Colaca a fonte em negrito*/
    font-size: 22px;           /*Aplica tamanha da letras*/
    text-decoration: none;    /*Retira a sublinhado aplicado pela tag ancora*/
}


